<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>EnderecosApp</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="style/styleCss.css" />
</head>

<body>

	<h1>Lista de usuario</h1>
	<h3><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">person_add</i>Lista de
			Usuarios</a></h3>

	<div th:each="usuario : ${usuario}" class="container ">
		<h5>Detalhes do Usuario</h5>
		<div class="row">
			<p>Nome: <span th:text="${usuario.nome}"></span></p>
			<p>CPF: <span th:text="${usuario.cpf}"></span></p>
			<p>Email: <span th:text="${usuario.email}"></span></p>
			<p>Data de Nascimento: <span th:text="${usuario.dataNascimento}"></span></p>
		</div>
	</div>
	
	<div th:each="endereco: ${enderecos}" class="container ">
		<div class="row">
			<p>Logradouro: <span th:text="${endereco.logradouro}"></span></p>
			<p>Numero: <span th:text="${endereco.numero}"></span></p>
			<p>Complemento: <span th:text="${endereco.complemento}"></span></p>
			<p>Bairro: <span th:text="${endereco.bairro}"></span></p>
			<p>Cidade: <span th:text="${endereco.cidade}"></span></p>
			<p>Estado: <span th:text="${endereco.estado}"></span></p>
			<p>Cep: <span th:text="${endereco.cEP}"></span></p>
			
		</div>
	</div>

	<form method="POST">

			logradouro<input type="text" value="" name="logradouro" >
			numero<input type="number" value="" name="numero" >
			complemento<input type="text" value="" name="complemento" >
			bairro<input type="text" value="" name="bairro" >
			cidade<input type="text" value="" name="cidade" >
			estado<input type="text" value="" name="estado" >
			cep<input type="text" value="" name="cEP" >
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
	</form>

	




	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>